.app-container {
  /* height: 100vh; */
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #ffffff;
  box-sizing: border-box;
}

.content-area {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  padding-left: 1rem;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-pointer :hover {
  background-color: #f0f0f0;
}